.body{
	background-color:#003a22;
		background-repeat:no-repeat;
	 background-image:url(../images/game-start-page-2.png);
	 /*background-size: 100%;*/
	 text-align:center;
	
}

.background{
	width: 100%;
	height: 80%;
}

.MEUN-2{
	margin-top: 45%;
	padding: 0% 3% 3% ;
	width: 10%;
}


.MEUN-1{
	margin-top: 20%;
	padding: 0% 3% 3% ;
	width: 10%;
}


.MEUN-0{
	margin-top: 5%;
	padding: 0% 3% 3% ;
	width: 10%;
}