
.background {

}


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
	 
  text-align: center;
  display: inline-block;

}

body {
	background-image:url(background.png);
	text-align:center;
	/*background-color:#C0C0C0;*/
}

h1 {
  margin: 30px;
  font-family: 'Berlin Sans FB', cursive;
  text-shadow: 4px 0 #6AFF8F;
 font-size: 5rem;
  color:#004A25;
}

p {
  font-size: 2rem;
  color: #004A25;
  font-family: 'Calibri', cursive;
}

img {
	text-shadow: 7px 0 #000;
  width: 80%;
}


.addNames{
  text-align: center;
  margin-bottom: 1.5%;
}

.role{
	color:#00641A;
	background-color:#28FF5F;
	padding: 0% 0% 0%;
	font-family: 'Century Gothic' ;
	font-size: 3rem;
	border:none;
	width: 10%;
	height:10%;
}

.back{
	border:none;
	background-color:#004812;
	color:#9DFFB6;
	font-size: 2rem;
	float:left;
}

.back:hover{
	color:#00641A;
	background-color:#28FF5F;

}



.role:hover{
	background-color:#004812;
	color:#9DFFB6;
	width: 25%;
	height:15%;
	
}

footer {
  margin-top: 5%;
  color: #000;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
